PORT=5000
DATABASE_URL=postgresql://postgres.qmyvdkqshupnucytpcwp:F9797pEgnJaqQ2lF@aws-0-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.qmyvdkqshupnucytpcwp:F9797pEgnJaqQ2lF@aws-0-us-east-2.pooler.supabase.com:5432/postgres
JWT_SECRET=super_secreto_ersa_group_jwt_key_2026
CLIENT_URL=http://localhost:5173
